/* Estilos  Globales */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-primario: #003262;
  --color-secundario: #00aeee;
  --color-gris: #f1f1f1;
}
/*Definiendo un contenedor */
.container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width:768px) {

  h1,
  h2,
  h3,
  h4 {
    word-wrap: break-word;
  }
}
/* Estilos  Header */
header a i,
header p i {
  color: var(--color-primario);
}

.contenedor-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
}

.informacion_header,
.informacion_header_derecha {
  display: flex;
}

.informacion_header p,
.informacion_header_derecha a {
  padding-right: 5px;
  color: #363636;
}

.informacion_header_derecha {
  font-size: 20px;
}

.barra-navegacion {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

}

.barra-izquierda {
  display: flex;
  align-items: center;

}

.barra-izquierda img {
  width: 250px;
  height: auto;
  margin-right: 25px;
}

.barra-izquierda img:hover {
  opacity: .6;
  transition: .3s all;
  cursor: pointer;
}

input.buscador {
  padding: 10px;
  border-radius: 5px;
}

input.buscador::before {
  content: "\f002";
  font-family: FontAwesome;
}
/* Estilos  Menu */
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

nav .menu li {
  margin-right: 25px;
}

nav .menu li a:hover {
  color: var(--color-secundario);
  border-bottom: 3px solid var(--color-secundario);
}

nav .menu li:last-child {
  margin-right: 0;
}

nav .menu li a {
  color: #fff;
  transition: .3s all;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.boton-inscripcion {
  background-color: var(--color-secundario);
  border-radius: 7px;
  padding: 10px;
}


.boton-inscripcion:hover {
  background-color: #fff;
  color: var(--color-primario) !important;
  border-bottom: none !important;
}

.menuMobile {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  line-height: 60px;
  display: none;
}
/* Header  Mobile */
@media (max-width: 768px) {
  header {
    position: fixed;
    z-index: 2147483647;
    width: 100%;
  }

  .barra-izquierda form,
  .contenedor-header {
    display: none;
  }

  nav .menu {
    flex-direction: column;
    align-items: center;
    background-color: #003262;
    position: fixed;
    top: 119px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 119px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 9999;
  }

  nav .menu li {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

  nav .menu li:last-child {
    margin-bottom: 0;
  }

  .menu-mobile_activo {
    left: 0 !important;
    z-index: 9999;
  }

  .menuMobile {
    display: block;
  }
}

/* Banner principal */
.hero {
  display: flex;
  background: url(../img/fondo-hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}

.hero_content__text {
  padding-left: 50px;
}

.hero_content__text h1 {
  font-size: 80px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  text-shadow: -1px 4px 3px rgba(0, 0, 0, 0.24);
  margin: 0;
}

.hero_content__text p {
  font-size: 25px;
  padding: 15px;
  background-color: var(--color-primario);
  color: #fff;
  display: inline-block;
}

@media (max-width: 768px) {
  .hero_content__text h1{
    font-size: 50px;
    margin-top: 150px;
  }
  .hero_content__text p{
    font-size: 18px;
  }
}

.hero_content__img {
  padding-right: 100px;
  margin-top: 0;
}

.information {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -80px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .information {
    flex-direction: column;
    margin-top: 25px;
  }
}

.bloques {
  flex-basis: 33.3%;
}

.bloques_container {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: var(--color-primario);
  height: 90px;
}

.bloques_container:hover {
  background-color: #01284d;
  transition: .6s all;
}

.bloques_container i {
  color: var(--color-secundario);
  font-size: 30px;
  margin-right: 30px;
}

.bloques_container h2 {
  color: #fff;
}

.bloques_container a {
  color: var(--color-secundario)
}

.bloque_img_uno {
  background-image: url(../img/uner-alumnos.jpg);
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bloque_img_dos {
  background-image: url(../img/uner-becas.png);
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bloque_img_tres {
  background-image: url(../img/estudiante-computadora.jpg);
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.informacion_carreras {
  padding: 100px 0;
  background-image: url(../img/back_uner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.informacion_carreras h2 {
  font-size: 40px;
  color: var(--color-primario);
  margin-bottom: 20px;
}

.informacion_carreras__texto {
  text-align: left;
}

.informacion_carreras__texto h3 {
  font-size: 25px;
  color: var(--color-primario);
}

.bloque_carreras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.informacion_carreras__bloque {
  background-color: #fff;
}

.informacion_carreras__texto {
  padding: 15px;
}

@media (max-width: 768px) {
  .bloque_carreras {
    grid-template-columns: 1fr;
  }
}

.seccion_utilidades {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  background-color: #eee;
}

@media (max-width: 768px) {
  .seccion_utilidades {
    grid-template-columns: 1fr;
  }
}

.utilidades__columna-izquierda {
  background-image: url(../img/back_utilidades.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.utilidades__columna-izquierda i {
  color: var(--color-secundario);
  font-size: 20px;
}

.utilidades__columna-izquierda h3 {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.utilidades__enlaces a {
  display: block;
  padding: 10px;
  border-bottom: 3px solid var(--color-secundario);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transform: .3s ease-out;
}

.utilidades__enlaces a:hover {
  color: var(--color-secundario)
}

.blog_columna__titulo {
  background-color: var(--color-secundario);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.utilidades__icono {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.utilidades__titulo {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.utilidades__enlaces {
  list-style: none;
  padding: 0;
  margin: 0;
}

.utilidades__enlaces {
  margin-bottom: 0.5rem;
}

.utilidades__enlaces i {
  margin-right: 0.5rem;
}

.blog_container {
  padding: 30px;
}

.blog__articulo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .blog__articulo {
    grid-template-columns: 1fr;
  }
}

.blog__articulo h4 {
  color: var(--color-primario);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.blog__info-articulo {
  margin-left: 10px;
}

.blog_container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  grid-gap: 10px;
}

.seccion__imagen {
  width: 250px;
}

@media (max-width: 768px) {
  .blog_container {
    grid-template-columns: 1fr;
  }

  .seccion__imagen {
    width: 100%;
    margin-bottom: 15px;
  }
}

.blog__enlace-blog {
  background-color: var(--color-secundario);
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  max-width: fit-content;

}

.blog__enlace-blog:hover {
  background-color: var(--color-primario);
  transition: .3s all;
}

/* Estilos  del footer */
.footer {
  background-color: #363636;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .footer__columna {
    padding-bottom: 20px;
  }

  .footer__columna:last-child {
    padding-bottom: 0;
  }

  .footer__columna img {
    padding-bottom: 15px;
    align-items: left;
  }
}

/* Estilos de la primera columna */
.footer__columna img {
  display: block;
  height: 80px;
  margin-bottom: 10px;
  width: auto;
}

.footer__direccion {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

/* Estilos de la segunda y tercera columna */
.footer__titulo {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__lista {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__lista li {
  margin-bottom: 5px;
}

.footer__lista a {
  color: #fff;
  text-decoration: none;
}

.footer__lista a:hover {
  color: var(--color-secundario);
}

.footer__titulo {
  color: var(--color-secundario);
  border-bottom: 3px solid var(--color-secundario);
  font-size: 25px;
}

.uner {
  background-image: url(../img/uner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main h2 {
  padding: 150px;
  font-size: 70px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  text-shadow: -1px 4px 3px rgba(0, 0, 0, 0.24);
  margin: 0;
}

.sobre_la_facultad {
  display: flex;
  align-items: center;
  padding: 50px 0;
  text-align: justify;
}

@media (max-width: 768px) {
  .sobre_la_facultad {
    flex-direction: column;
  }
}

.sobre_la_facultad h3 {
  font-size: 30px;
  color: var(--color-primario);
  font-weight: 700;
}

.contactanos {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}

.form {
  width: 50%;
  margin-right: 25px;
}

@media (max-width:768px) {
  .form {
    width: 100%;
  }
}


#uner_mapa {
  flex-grow: 1;
}

.uner_contacto {
  background-image: url(../img/img_contacto.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactanos {
  display: flex;
}

.form input,
.form textarea,
.form button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 15px;
  border: 1px transparent;
}

.form textarea {
  height: 200px;
}

.form input,
.form textarea {
  background-color: rgb(239, 239, 239);
}

@media (max-width:768px) {
  .contactanos {
    flex-direction: column;
  }

  .form input,
  .form textarea {
    margin-bottom: 20px;
  }

  #uner_mapa {
    width: 100%;
    height: 200px;
  }
}

.form button {
  background-color: var(--color-primario);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.form button:hover {
  background-color: var(--color-secundario);
  transition: .3s all;
}

.uner {
  background-image: url(../img/uner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

main h2 {
  padding: 150px 50px;
  font-size: 70px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  text-shadow: -1px 4px 3px rgba(0, 0, 0, 0.24);
  margin: 0;
}

@media (max-width: 768px) {
  .titulo h2 {
    font-size: 40px;
  }
}

.sobre_la_facultad {
  padding: 0px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 80px;
}

.sobre_la_facultad h3 {
  font-size: 30px;
  color: var(--color-primario);
  font-weight: 700;
}

.sobre_la_facultad_info {
  padding-right: 50px;
  text-align: left;
}

@media (max-width: 768px) {
  .sobre_la_facultad_info {
    padding-right: 0;
    padding-bottom: 50px;
  }

  .facultad_video {
    width: 100% !important;
    max-width: 100%;
  }
}

.objetivos_facultad {
  padding: 25px;
  height: auto;
}

.historia_facultad {
  background-color: #eaeaea;
  padding: 50px 0;
  margin-bottom: 50px;
  text-align: justify;
}

.nuestra_facultad {
  color: var(--color-primario);
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.nuest_facul {
  text-align: center;
  font-size: 16px;
}


.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 700;
  color: white;
}


.contenedor-imagenes {
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
  gap: 20px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .contenedor-imagenes {
    gap: 0;
  }
}

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #003262;
  width: 0%;
  height: 100%;
  opacity: 63%;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.overlay h2 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.imagen:hover .overlay {
  width: 100%;
}

@media screen and (max-width:1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}

@media screen and (max-width:700px) {
  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagen {
    width: 48%;
  }
}

@media screen and (max-width:450px) {
  h1 {
    font-size: 22px;
  }

  .contenedor-imagenes {
    width: 98%;
  }

  .contenedor-imagenes .imagen {
    width: 80%;
  }
}

/* Sección Bedelia */

.bedelia_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secundario);
  padding: 10px;
}

.bedelia_menu ul {
  display: flex;
  margin-right: 25px;
}
nav.bedelia_menu ul li a {
  margin-right: 20px;
  font-weight: 700;
}


.bedelia_menu form {
  position: relative;
}

.bedelia_menu input[type="search"] {
  border: none;
  background-color: transparent;
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  max-width: 300px;
}

.bedelia_menu button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}

nav.bedelia_menu input::placeholder {
  color: white;
}

.bedelia_menu button[type="submit"]:hover {
  color: #003262;
}

.bedelia_menu a {
  color: #fff;
  text-decoration: none;
}

.form_alumnos {
  margin: 25px 0;
}

.form_alumnos form label {
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Definición de la clase table */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.tabla_estudiantes {
  margin: 25px 0;
}

/* Ocultar los controles de incremento y decremento en inputs de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.integrantes{
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}